.Events {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.EventsItem {
    flex-direction: row;
    flex-basis: 18rem;
    margin: 0 auto;
    height: 20rem auto;
    margin-bottom: 0rem;
}