.Header {
    height: 70vh;
    background: #565f70;
    position: relative;
    background-image: linear-gradient(
        to right bottom,
        rgba(14, 14, 14, 0.8),
        rgba(14, 14, 14, 0.8)),
        url('../../assets/main-header.jpg');
    background-size: cover;
    background-position-y: 50%;
}

.HeaderContainer {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 80%;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.HeaderTitle {
    width: 60%;
    font-size: 3rem;
    margin-bottom: 0;
}

.HeaderSubtitle {
    display: block;
    font-weight: 300;
    font-size: 1.5rem;
}

.HeaderButton {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    color: #fff;
    text-decoration: none;
    background: #14798d;
    border-radius: 35px;
    padding: 13px 29px;
    border: 2px solid transparent;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    -ms-flex-negative: 0;
    position: relative;
    right: 40px;
    flex-shrink: 0;
    vertical-align: bottom;
    cursor: pointer;
    transition: background-color .2s ease-in-out,border-color .2s ease-in-out,color .2s ease-in-out;
}

.HeaderButton:hover {
    background: #25b9d3;
}

.EventTitleStatus {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    margin-left: 6rem;
}