
.Search {
    display: inline;
}

.Search input {
    font-family: Nunito, sans-serif;
    width: 35%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    border-bottom: solid 2px #FFF;
    font-size: 1.2rem;
    color: rgb(172, 172, 172);
    padding-left: 1rem;
    outline: none;
    font-weight: 300;
}

.Search i {
    font-size: 10px;
}

.Search input::placeholder {
    color: rgb(172, 172, 172);
}



