.EventItem {
    width: 35rem;
    height: 30rem;
    color: #000;
    padding: 1rem 1rem;
}

.EventImage {
    width: 25rem;
}

.EventStatus {
    display: block;
    color: green;
    font-weight: bold;
}