.EventItem {
    
    color: #000;
    padding: 1rem 1rem;
    background: #FFFFFF;
    margin: 0.5rem;
    border-radius: 5px;
    height: 17rem;
    // display: inline-flex; 
    // flex-direction: column;
    
}

.EventImage {
    width: 100%;
}

.EventTitle {
    font-size: 1rem;
    text-transform: uppercase;
}

.EventStatus {
    display: block;
    color: green;
    font-weight: bold;
}